
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');   /* импортирую шрифт робото из библиотеки гугл */

body {
    background: #1C1C1C; /* заливка страницы */
}

.logotype {         /* параметры всего логотипа */
    display: flex; /* чтобы внутренние элементы логотипа выстраивались в ряд*/
    position: absolute;  /* позиция дочерних элементов относительно главного */
    width: 152px;
    height: 28px;
    left: 646px;
	right: 646px;
	bottom: 612px;
    top: 80px;
}

.logo-t {          /* параметры буквы т */
    position: absolute;
    width: 44px;
    height: 28px;
    left: 0px;
    top: 0px;
}

.logo-t-rect-h {
    position: absolute;
    width: 44px;
    height: 10px;
    left: 0px;
    top: 0px;
    background:	#FFFFFF;
}

.logo-t-rect-f {
    position: absolute;
    width: 14px;
    height: 18px;
    left: 15px;
    top: 10px;
    background: #FFFFFF;
}

.logo-play-f {
    left: 54px;
    position: absolute;
}

.logo-play {
    border-top: 12px solid transparent;
    border-left: 20px solid #FDCE25;
    border-bottom: 12px solid transparent;
    padding-top: 2px;
}

.logo-pause {
    position: absolute;
    left: 0px;
}

.logo-pause-left {
    position: absolute;
    width: 6px;
    height: 22px;
    left: 77px;
    top: 3px;
    background: #FDCE25;
}

.logo-pause-right {
    position: absolute;
    width: 6px;
    height: 22px;
    left: 87px;
    top: 3px;
    background: #FDCE25;
}

.logo-play-pause {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-p {			/* параметры буквы п */
    position: absolute;
    width: 44px;
    height: 28px;
    left: 0px;
    top: 0px;
}

.logo-p-l {
    position: absolute;
    width: 13px;
    height: 18px;
    left: 108px;
    top: 10px;
    background: #FFFFFF;
}

.logo-p-h {
    position: absolute;
    width: 44px;
    height: 10px;
    left: 108px;
    top: 0px;
    background: #FFFFFF;
}

.logo-p-r {
    position: absolute;
    width: 13px;
    height: 18px;
    left: 139px;
    top: 10px;
    background: #FFFFFF;
}

/* здесь кончается логотип*/


#rectangle {       /* полоса под лупой*/
	position: absolute;
	width: 628px;
	height: 2px;
	left: 406px;
	top: 234px;
	background-color: #FFFFFF;

}


/* изменяю шрифт в placeholder*/
::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.4); font-family: Roboto; font-size: 24px; line-height: 36px; font-style: normal;}
::-moz-placeholder { color: rgba(255, 255, 255, 0.4); font-family: Roboto; font-size: 24px; line-height: 36px; font-style: normal;}
:-ms-input-placeholder { color: rgba(255, 255, 255, 0.4); font-family: Roboto; font-size: 24px; line-height: 36px; font-style: normal;}
:-moz-placeholder { color: rgba(255, 255, 255, 0.4); font-family: Roboto; font-size: 24px; line-height: 36px; font-style: normal;}

.search {    /* для формы поиска фильмов*/
	position: absolute;
	width:446px;
	height: 36px;
	top: 180px;
	left: 525px;
	background: #1C1C1C;
	border-right: none; /* убираю вокруг формы поиска цветную границу*/
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.lupa {						/* задаю круг */
	display: inline-block; /* не добавляет разрыв строки после элемента, поэтому элемент может сидеть рядом с другими элементами.*/
	margin: 1em;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	}

.lupa-1 {				/* параметры круга */
	border: 3px solid #FFFFFF;
	background: #1C1C1C;
	position: absolute;
	margin-top: 173px;
	margin-bottom: 522px;
	margin-left: 470px;
	margin-right: 940px;
	width: 23px;
	height: 23px;
	top: 7px;
	left: 7px;
}


#nozhka_lupi {			/* это овал, поэтому надо ширину больше чем высоту */
    width: 15px;
    height: 4px;
    background: #FFFFFF;
	-webkit-border-radius: 100px / 80px;
    -moz-border-radius: 100px / 80px;
    border-radius: 100px / 80px;
	transform: rotate(49deg);
	margin-top: 208px;
	margin-bottom: 501px;
	margin-left: 490px;
	margin-right: 938px;

}



  
